<?xml version="1.0"?>
<launch>
  <rosparam file="$(find rosbot_description)/config/joint_state_controller.yaml" command="load" ns="/exp_rob" />

  <!-- Spawn the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="--namespace=/exp_rob
      joint_state_controller">
  </node>

  <!-- Start the aruco marker publisher -->
  <node name="marker_publisher" pkg="aruco_ros" type="marker_publisher" output="screen" />

  <!-- Start the robot camera control node -->
  <node name="real_robot_controller" pkg="rosbot_navigation" type="real_robot_controller.py" output="screen" />
</launch>